*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
  padding: 2%;
}


header{
  background-color: pink;
  padding: 6%;
  text-align: center;
}

.temp{
  padding: 2%;
}

.temp h2{
  padding-bottom: 2%;
}
